
<!--This code is partially copied from the net:
    https://bootsnipp.com/snippets/dldxB
-->
<div class="wrapper fadeInDown">
    <div id="formContent">
  
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" [(ngModel)] = userName>
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" [(ngModel)] = password>
      <button class="fadeIn fourth" routerLink="movies" (click)=onConnection() > Log In </button>

    </div>
  </div>
