<h1>My list of Movies !!</h1>

<div *ngIf=isConnected()>
    <input class="input-sm" type="search" placeholder="Search a movie..."
    list="searchMoviesList"
    (keyup)="onKey()" 
    [(ngModel)]="input"/>

  <datalist id="searchMoviesList">
  <option *ngFor="let oneMovie of getSearchedMovies()"
        [value]="oneMovie.Title">
  </datalist>

  <button class="btn btn-success" (click)="onAddMovie()">Add</button>

  <div id="movies">
    <ul class="list-group">
    <app-movie *ngFor="let oneMovie of getMovies()"
                [movieId] = "oneMovie.id"
    ></app-movie>

    </ul>

  </div>

</div>

<div *ngIf=!isConnected()>
  <h2>Sorry, you are not connected :/</h2>
  <p>
    Please connect you at this url:
    <a routerLink="">http://localhost:4200 </a>
  </p>
</div>


