<li *ngIf="getMovie()" class="list-group-item">
    
    <div class="content">
        <span (click)=showInfos(template) >{{getMovieInfos().Title}}</span>
        <input id={{getMovie().id}} type="checkbox" [checked]="getMovie().isFavorite" (click)="changeFavorite()"/>
        <label for={{getMovie().id}}></label> 
        <button class="btn btn-trash" (click)="onDelete(getMovie().id)"><i class='fa fa-trash-o'></i></button>
    </div>
    
</li>

<!--Here the modal wich contains the movie informations-->
<!--This modal is not on the center of the screen!-->
<ng-template #template>
    <div class="modal-content">
        <div class="modal-header">you can't see me :(</div>
        <div class="modal-body">
            <button type="button" class="close pull-right" (click)="modalRef.hide()"></button>
            <h1>{{getMovieInfos().Title}}</h1>
            
            <p>{{getMovieInfos().Type}}</p>
            <p>{{getMovieInfos().Year}}</p>
    
            <img src={{getMovieInfos().Poster}}/>
          </div>
    </div>
</ng-template>

